/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2022 Andrew Vojak <andrew.vojak@gmail.com>
 */

image.arrow-icon {
  animation-name: arrow-move;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Animate the icon back-and-forth by 4px */
@keyframes arrow-move {
  from { -gtk-icon-transform: translateX(-2px); }
  50% { -gtk-icon-transform: translateX(2px); }
  to { -gtk-icon-transform: translateX(-2px); }
}